@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


*{
    margin: 0;
    padding: 0;
}

HTML, body{
    height: 100vh;
    overflow: hidden;
    font-family: "Pixelify Sans", sans-serif;
    background-image: url(img/wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    cursor: default;
}

.gameWrapper{
    height: 100%;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 2rem 0;
    height: 15%;
    font-size: 3.5rem;
    background-image: linear-gradient(45deg, #E21143, #FFB03A, #E21140, #e3c390);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game{
    display: flex;
    height: calc(80% - 4rem);
}

.settings{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.level, .rangeScale{
    margin-bottom: 3rem;
}

.level p{
    cursor: pointer;
}

.messageLevel, .messageRange, .messageQtd{
    /*display: none;*/
    color: #ff0000;
}

.opitions{
    margin-left: 1.5rem;
}

.rangeScale, .numbers{
    position: relative;
}

.rangeInput{
    display: flex;
    gap: .5rem;
    position: absolute;
    right: 0;
    font-size: 1.2rem;
    margin:.5rem 1.5rem 0 0;
}

.qtdWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.messageQtd{
    width: 20rem; 
    position: absolute; 
    right: 0; 
    margin-right: -23rem;
}

.rangeInput input, .qtdWrapper input{
    width: 3rem;
    display: flex;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button{
    appearance: none; 
}

/* - - - - - - - - */

.main{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.info{
    display: flex;
    justify-content: space-between;
    height: 25%;
    position: relative;
    padding: 2rem;
    background: rgba(134, 81, 81, 0.2);
    box-shadow: 0 26px 42px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    z-index: 1;
}

.info h1{
    z-index: 2;
    font-size: 2.5rem;
    background-image: linear-gradient(45deg, #FFB03A, #ffea00);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.restBox{
    display: flex;
}

#rest{
    font-size: 2rem;
    color: rgb(225, 0, 255);
    margin-left: .5rem;
}

.atualRange{
    display: flex;
    gap: 0.5rem;
    position: absolute;
    bottom: 0;
    right: 0;  
    margin: 0 1rem 1rem 0;
}

.atualRange p{
    font-size: 1.5rem;
}

.play{
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}

.play input{
    display: flex;
    text-align: center;
    font-size: 4rem;
    height: 5rem;
    width: 8rem;
}

.playButton{
    cursor: pointer;
    font-size: 6rem;
}

/* - - - - - - - - */

.playInfo{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.table{
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem 0 .5rem 0;
    border: 1px solid #FFF;
}

.attempBox{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    gap: .5rem;
    font-size: 1.3rem;
}

.attemptsMade{
    color: rgb(225, 0, 255);
}

.attempts{
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 26px 42px rgba(0, 0, 0, 0.1);
    color: #FFB03A;
}

.playNumber{
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeBox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeBox p{
    font-size: 4rem;
}

.bestTimeBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem 0 0 2rem;
}

/* ----------------  */
.adjust{
    border: 1px solid #fff;
    margin: 0 4rem 0 4rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 26px 42px rgba(0, 0, 0, 0.1);
}

.text_title{
    font-size: 1.7rem;
    font-weight: 600;
    margin-top: 1rem;
}

::placeholder{
    font-family: "Pixelify Sans", sans-serif;
}

p{
    font-size: 1.2rem;
}

label {
    cursor: pointer;
}

#not-level:hover, #custom:hover, .bestTimeBox p:hover, 
.playButton:hover, .rangeScale:hover, 
.numbers:hover, .timeBox:hover, .selected{
    color: orange;
    transition: color 0.2s ease;
}

#not-level:hover::after, #custom:hover::after, .level .opitions p:hover::after,
.bestTimeBox p:hover::after, .playButton:hover::after, .rangeScale:hover::after, 
.numbers:hover::after, .timeBox:hover::after, .selected::after, .selectedLevel::after{
    content: "  <";
}

.playButton:hover::before, .timeBox:hover::before, 
.bestTimeBox p:hover::before{
    content: ">  ";
}

.level .opitions p:hover{
    color: rgb(225, 0, 255);
}

.selectedLevel{
    color: #46ff71;
}

.check{
    background-color: #46ff71;
}

.level p:hover{
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 26px 42px rgba(0, 0, 0, 0.1);
}

