@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root{
    --fontSizeTitles: clamp(1rem, 1.8vw + 0.1rem, 10rem);  /* 2rem */
    --fontSizeH1: clamp(1.5rem, 2.25vw + 0.1rem, 10rem);  /* 2.5rem */
    --fontSizeText:  clamp(1rem, 1.08vw + 0.1rem, 10rem); /* 1.2rem */
    --fontSizeMedium:  clamp(1.3rem, 1.35vw + 0.1rem, 10rem);  /* 1.5rem */
    --fontSizeHigh: clamp(1.7rem, 3.6vw + 0.1rem, 5rem);  /* 4rem */
    --fontSizeSuperHigh: clamp(4rem, 5.4vw + 0.1rem, 5rem);   /* 6rem */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

HTML, body{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    font-family: "Pixelify Sans", sans-serif;
    background-image: url(../img/wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    cursor: default;
}

.settingsMenu{
    display: none;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
    height: 15%;
    font-size: var(--fontSizeHigh);
    background-image: linear-gradient(45deg, #E21143, #FFB03A, #E21140, #e3c390);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game{
    display: flex; /* Alterar para grid (dar um indice a cada divisão (settings, main e info) e criar menu suspenso */
    height: calc(80% - 4rem);
}

.settings{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.level, .rangeScale{
    margin-bottom: 3rem;
}

.level p{
    cursor: pointer;
}

.messageLevel, .messageRange, .messageAmount{
    /*display: none;*/
    color: #ff0000;
}

.opitions{
    margin-left: 1.5rem;
}

.rangeScale, .amount{
    position: relative;
}

.rangeInput{
    display: flex;
    gap: .5rem;
    position: absolute;
    right: 0;
    font-size: var(--fontSizeText);
    margin:.5rem 1.5rem 0 0;
}

.amount{
    font-size: clamp(1rem, 1.6vw + 0.1rem, 5rem);
}

.amountWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.messageAmount{
    width: 20rem; 
    position: absolute; 
    right: 0; 
    margin-right: -23rem;
}

.rangeInput input, .amountWrapper input{
    width: 3rem;
    display: flex;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button{
    appearance: none; 
}

/* - - - - - - - - */

.main{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.info{
    display: flex;
    justify-content: space-between;
    height: 40%;
    position: relative;
    padding: 2rem;
    background: rgba(134, 81, 81, 0.2);
    box-shadow: 0 26px 42px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    z-index: 1;
}

.info h1{
    z-index: 2;
    font-size: var(--fontSizeH1);
    background-image: linear-gradient(45deg, #ff0000, #E21140);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.restBox{
    display: flex;
}

#rest{
    font-size: var(--fontSizeTitles);
    color: rgb(225, 0, 255);
    margin-left: .5rem;
}

.atualRange{
    display: flex;
    gap: 0.5rem;
    position: absolute;
    bottom: 0;
    right: 0;  
    margin: 0 1rem 1rem 0;
}

.atualRange p{
    font-size: var(--fontSizeMedium);
}

.play{
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}

.play input{
    display: flex;
    text-align: center;
    font-size: var(--fontSizeHigh);
    height: 5rem;
    width: 8rem;
}

.playButton{
    cursor: pointer;
    font-size: var(--fontSizeSuperHigh);
}

/* - - - - - - - - */

.playInfo{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.table{
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem 0 .5rem 0;
    border: 1px solid #FFF;
    font-family: Arial, Helvetica, sans-serif;
}

.attempBox{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    gap: .5rem;
    font-size: var(--fontSizeMedium);
}

.attemptsMade{
    color: rgb(225, 0, 255);
}

.attempts{
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 26px 42px rgba(0, 0, 0, 0.1);
    color: #FFB03A;
}

.more{
    display: none;
    color: #ff0202;
    cursor: pointer;
}

.playNumber{
    display: flex;
    align-items: center;
    justify-content: center;
}

.attemptWin{
    color: #000;
    background-color: #46ff71;
}

.timeBox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeBox p{
    font-size: var(--fontSizeHigh);
}

.lastTimeBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem 0 0 2rem;
}

/* ----------------  */
.adjust{
    border: 1px solid #fff;
    margin: 0 4rem 0 4rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 26px 42px rgba(0, 0, 0, 0.1);
}

.text_title{
    font-size: var(--fontSizeTitles);
    font-weight: 600;
    margin-top: 1rem;
}

::placeholder{
    font-family: "Pixelify Sans", sans-serif;
}

p{
    font-size: var(--fontSizeText);
}

label {
    cursor: pointer;
}

#not-level:hover, #custom:hover, .lastTimeBox p:hover, 
.playButton:hover, #rangeTitle:hover, 
#amoutTitle:hover, .timeBox:hover, .selected, .menu:hover{
    color: orange;
    transition: color 0.2s ease;
}

#not-level:hover::after, #custom:hover::after, .level .opitions p:hover::after,
.lastTimeBox p:hover::after, .playButton:hover::after, #rangeTitle:hover::after, 
#amoutTitle:hover::after, .timeBox:hover::after, .selected::after, .selectedLevel::after, .menu:hover::after{
    content: "  <";
}

.playButton:hover::before, .timeBox:hover::before, 
.lastTimeBox p:hover::before, .menu:hover::before{
    content: ">  ";
}

.level .opitions p:hover{
    color: rgb(225, 0, 255);
}

.selectedLevel{
    color: #46ff71;
}

.check{
    background-color: #46ff71;
}

.level p:hover{
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 26px 42px rgba(0, 0, 0, 0.1);
}

.data-has-numbers{
    font-family: Arial, Helvetica, sans-serif;
}